<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Content/css/styles.css">
    <meta charset="utf-8">
    <title>Your results...</title>
  </head>
  <body>
    <div class="container">
      <h1>Results</h1>
      @Model
      <p>
        <a href="/">Click here to go back to the main page</a>
      </p>
    </div>
  </body>
</html>
